

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

h4 {
    text-transform: capitalize;
    margin-top: 20px;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

form {
    width: 92%;
    min-height: 100vh;
}

input[type=text], [type=email], [type=tel] {
    width: 100%;
    background: #f0f0f0;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .5s;
    border-radius: 20px;
    border: none;
    line-height: 1;
    font-weight: 600;
    
}

input[type=text]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}
input[type=email]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}
input[type=tel]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

.input-box input[type=text], [type=email], [type=tel] {
    padding-left: 30px;
}

.input-box {
    position: relative;
}

.input-box i {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 9px 8px;
    color: #757575;
}

.fa-cc-visa {
    /* width: 40%; */
    position: absolute;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 15px;
    left: 0;
}

.fa-cc-paypal {
    position: absolute;
    left: 0;
    margin-left: 140px;
    margin-top: 10px;
}

#bc2 {
    margin-top: 10px;
    margin-left: 110px;
}

div select {
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    background: #f0f0f0;
    font-weight: 600;
    cursor: pointer;
}

div select:active {
    background: #c2c2c2;
}

button {
    margin-top: 30px;
    padding: 10px 40px;
    border: none;
    background: #f0f0f0;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
}

button:active {
    background: #c2c2c2;
}